$primaryColor: #00BCD4;
$surfaceColor: #1b1d1e;
$surfaceTintColor: #323435;
$contentWidthLg: 960px;
$contentWidthMd: 768px;
$headerHeight: 72px;
$navHeight: 56px;
$navInsetsTop: 26px;
$textHintColor: #aeb2b5;