@import '../../styles/variables';

.container {
    width: 100%;
    min-height: 100vh;
    // align-content: center;
    padding-top: $headerHeight + $navInsetsTop;
}

.resumeCard {
    display: flex;
    width: $contentWidthLg;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $contentWidthMd) {
        display: block;
        width: 100%;
    }
}

.navSection {
    width: 30%;
    padding-right: 24px;

    @media (max-width: $contentWidthMd) {
        width: 100%;
        padding: 0;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
    }
}

.contentSection {
    width: 70%;
    padding-left: 24px;

    @media (max-width: $contentWidthMd) {
        width: 100%;
        padding: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.navSectionTitle {
    height: 42px;
    font-size: 1.9em;
    margin-bottom: 12px;
}

.navButtonContainer {
    width: 100%;
    height: 46px;
    background-color: darken($surfaceColor, 1%);
    border-radius: 12px;
    align-content: center;
    padding: 12px;
    margin-bottom: 8px;
    transition: 0.3s ease-in;

    &:hover {
        background-color: $primaryColor;
    }
}

.navButtonContainerSelected {
    background-color: $primaryColor;
    color: $surfaceColor;
}

.contentSectionTitle {
    height: 42px;
    font-size: 1.5em;
    margin-bottom: 12px;
}

.navSectionDescription {
    color: $textHintColor;
    height: 72px;
    align-content: center;
    font-size: 0.8em;
    margin-bottom: 12px;
}

.contentCardSection {
    display: grid;
    max-height: calc($cardHeight * 2 + 20px);
    overflow-y: scroll;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @media (max-width: $contentWidthMd) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.infoText {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}