@import '../../styles/variables';

.header {
    width: 100%;
    // padding-top: $navInsetsTop;
    height: $headerHeight;
    background-color: $surfaceColor;
    align-content: center;
    position: fixed;
    // z-index: 5;
    @media (max-width: $contentWidthMd) {
        padding-top: 0px;
    }
}

.menuButton {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;

    @media (min-width: $contentWidthMd) {
        display: none;
    }
}


.drawerClosed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $surfaceColor;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.drawerOpened {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $surfaceColor;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;
}

.drawerList {
    list-style-type: none;
}

.drawerListItem {
    list-style-type: none;
    padding: 8px;
    margin-bottom: 8px;
    // border-radius: 12px;
    cursor: pointer;
    border-left: 2px transparent solid;

    &:hover {
        border-left: 2px $primaryColor solid;
        color: $primaryColor;
        // background-color: $surfaceTintColor;
    }
}

.activeDrawerListItem {
    border-left: 2px $primaryColor solid;
    color: $primaryColor;
}

.drawerMenu {
    width: 100%;
    margin-right: 12px;
    margin-left: 12px;
    // margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 1.6em;
}

.nav {
    max-width: $contentWidthLg;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // @media (max-width: 768px) {
    //     margin-left: 16px;
    //     margin-right: 16px;
    // }
}

// .navList {
//     display: flex;
//     list-style-type: none;
//     @media (max-width: $contentWidthMd) {
//         display: none;
//     }
// }

.navList {
    display: flex;
    list-style-type: none;
}

.navButtonDiv {
    text-align: center;
}

.navListItem {
    margin-left: 16px;
    padding: 4px;
    // border-radius: 12px;
    cursor: pointer;
    border-bottom: 2px transparent solid;

    &:hover {
        border-bottom: 2px $primaryColor solid;

        // background-color: $surfaceTintColor;
    }
}

.activeNavListItem {
    color: $primaryColor;
    border-bottom: 2px $primaryColor solid;
}

.coloredDot {
    color: $primaryColor;
}