@import '../../styles/variables';

.container {
    @media (min-width: $contentWidthMd) {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
        scroll-behavior: smooth;
    }
}

/* Каждый блок */
.section {
    @media (min-width: $contentWidthMd) {
        scroll-snap-align: start;
        height: 100vh;
    }

}

.main {
    width: 100%;
    height: calc(100vh - $headerHeight);

    @media (max-width: $contentWidthMd) {
        height: auto;
    }
}

.mainPassportCard {
    width: 100%;
    height: 70%;
    align-content: center;

    @media (max-width: $contentWidthMd) {
        height: auto;
    }
}

.mainExpLine {
    width: 100%;
    height: 30%;
    align-content: center;

    @media (max-width: $contentWidthMd) {
        height: auto;
    }
}