@import '../../styles/variables';

.container {
    width: 100%;
    height: 100vh;
    // padding-top: $headerHeight;
    align-content: center;

    @media (max-width: $contentWidthMd) {
        height: auto;
    }
}

.section {
    max-width: $contentWidthLg;
    margin-left: auto;
    margin-right: auto;
}

.sectionTitle {
    font-weight: 800;
    font-size: 2em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.skillsSection {
    padding-top: 36px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, auto);
    width: 100%;
    gap: 36px;
    justify-content: center;
    justify-items: center;
    align-items: center;

    @media (max-width: $contentWidthMd) {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(auto, auto);
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 24px;
        // padding: 4px;
        gap: 8px;
    }
}

.skillsCard {
    padding: 16px;
    width: 118px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darken($surfaceColor, 1%);
    border-radius: 12px;
    z-index: -1;
    // filter: drop-shadow(0 0 5px rgb(42, 42, 42));

    &:hover {
        filter: drop-shadow(0 0 5px $primaryColor);
    }

    transition: 0.5s ease;

    @media (max-width: $contentWidthMd) {
        width: 98px;
    }
}

.cardText {
    font-size: 0.9em;
    text-align: center;
    margin-top: 16px;
    font-weight: 500;
    @media (max-width: $contentWidthMd) {
    }
}

.skillsCard img {
    @media (max-width: $contentWidthMd) {
        width: 42px;
        height: 42px;
    }
}