@import '../../styles/variables';

.experienceLine {
    width: 100%;
    display: block;
    margin-top: 78px;
    margin-bottom: 56px;
}

.experienceLineCard {
    display: flex;
    justify-content: space-between;
    max-width: $contentWidthLg;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    @media (max-width: 768px) {
        display: grid;
        justify-items: start;
        grid-auto-flow: row;
        align-items: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
}

.experienceBlock {
    display: flex;
    align-content: center;
    align-items: center;

    @media (max-width: 768px) {
        // margin-left: auto;
        // margin-right: auto;
    }
}

.valueText {
    font-size: 2.6em;
    font-weight: 800;
    margin-right: 8px;
}

.titleText {
    color: $textHintColor;
    font-size: 0.9em;
}