@import './styles/variables';


:root {
  --background: $surfaceColor;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: $surfaceColor;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: var(--font-jetbrains-mono), monospace;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: $surfaceColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // border: 1px red solid;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
