@import '../../styles/variables';

.experienceCard {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: darken($surfaceColor, 1%);
}

.experienceCardTerm {
    color: $primaryColor;
    font-size: 0.8em;
    height: 28px;
}

.experienceCardTitle {
    font-size: 1.3em;
    height: 64px;
}

.experienceCardPlace {
    font-size: 1em;
    color: $textHintColor;
}

.placeContainer {
    height: 28px;
    display: flex;
    align-items: center;
}

.placeDot {
    background-color: $primaryColor;
    height: 6px;
    width: 6px;
    border-radius: 20px;
    margin-right: 8px;
}